<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="constructor">

        <ol>
            <li>
                <a
                    href="https://www.google.com/chrome"
                    target="_blank"
                >
                    Установить Google Chrome
                </a>
            </li>

            <li>
                <a
                    href="https://chrome.google.com/webstore/detail/violentmonkey/jinjaccalgkegednnccohejagnlnfdag?hl=en"
                    target="_blank"
                >
                    Установить расширение для Google Chrome
                </a>
            </li>

            <li>
                <a
                    :href="`https://maslaknikolai.github.io/boom-utils/boom.user.js?v=${Math.random()}`"
                    target="_blank"
                >
                    Установить скрипт в расширение
                </a>
            </li>
        </ol>

        <div style="display: flex; align-items: flex-start;">
            <textarea
                v-model="releaseString"
                placeholder="Колонка ID Релиза"
                style="
                    height: 500px;
                    width: 300px;
                "
            ></textarea>

            <textarea
                v-model="playlistsString"
                placeholder="Колонка плейлисты"
                style="
                    height: 500px;
                    width: 300px;
                "
            ></textarea>
        </div>

        <label>
            <input type="checkbox" v-model="shouldCompareStrictly">
            Строгое сравнение
        </label>

        <button @click="parse()">Разложить</button>

        <br>
        <br>
        <div v-if="parsedTable.length">
            Трек должен быть один или столько же сколько плейлистов. Если в таблице ниже есть строки с красным фоном, нужно поправить соответствующую строку в гугл таблице, затем скопировать данные в поля выше и нажать "Разложить"
        </div>

        <table style="font-size: 10px;">
            <tr
                v-for="(row, i) in parsedTable"
                :key="i"
                :class="{error: row.error}"
            >
                <td>{{row.releaseCell}}</td>
                <td>{{row.playlistsCell}}</td>
            </tr>
        </table>
        <br>

        <div
            v-if="playlistsWithReleases.length"
        >
            Нажимай на плейлист. Если он будет успешно найден в системе, скрипт перейдет в него и сам заполнит поля. <br>
            Если не найдется
            <ul>
                <li>
                    Найди нужный плейлист и перейди в него
                </li>

                <li>
                    Скопируй идентификаторы треков
                </li>

                <li>
                    На странице плейлиста нажми CTRL+ALT+Y и в появившееся окно вставь скопированные идентификаторы
                </li>
            </ul>

            <table style="font-size: 10px;">
                <tr
                    v-for="playlistWithReleases in playlistsWithReleases"
                    :key="playlistWithReleases.name"
                >
                    <td>
                        <a target="_blank" :href="getLink(playlistWithReleases.name, playlistWithReleases.releases)">
                            {{ playlistWithReleases.name }}
                        </a>
                        <a
                            v-for="altName in playlistWithReleases.altNames"
                            :key="altName"
                            target="_blank"
                            :href="getLink(altName, playlistWithReleases.releases)"
                            style="
                                text-decoration: none;
                                display: inline-block;
                                white-space: nowrap;
                                border-radius: 3px;
                                padding: 1px;
                                background: #FFD024;
                                margin-right: 3px;
                            "
                        >
                            {{altName}}&nbsp;
                        </a>
                    </td>
                    <td>
                        <span
                            v-for="release in playlistWithReleases.releases"
                            :key="release"
                        >
                            {{ release }}&nbsp;
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <style>
        body {
            font-family: sans-serif;
        }

        table {
            border-collapse: collapse;
        }

        td {
            border: 1px solid rgba(0,0,0,.2);
        }

        .error {
            background: #ff00005e;
        }
    </style>

    <script>
        function getCells(str) {
            if (!str) return []

            const rows = str
                .split('\n')

            let isQuoteOpened = false
            const groups = []

            rows.forEach((row, i) => {
                if (row.match(/"/)) {
                    isQuoteOpened = !isQuoteOpened

                    if (isQuoteOpened) {
                        groups.push([])
                    }

                    if (row.replaceAll(/"/g, '') === '') {
                        return
                    } else {
                        groups[groups.length-1].push(row.replaceAll(/"/g, ''))
                        return
                    }
                }

                if (isQuoteOpened) {
                    if (row.replaceAll(/"/g, '') === '') {
                        return
                    }

                    groups[groups.length-1].push(row.replaceAll(/"/g, ''))
                } else {
                    groups.push([row.replaceAll(/"/g, '')])
                }
            })

            return groups
        }

        function compare(a, b) {
            const ac = a.trim().toLowerCase()
            const bc = b.trim().toLowerCase()

            if (ac === bc) return true

            if (Math.abs(ac.length - bc.length) > 4) return false

            const aSymbols = ac.split('')
                .reduce((acc, s) => ({
                    ...acc,
                    [s]: (acc[s] || 0) + 1
                }), {})

            const bSymbols = bc.split('')
                .reduce((acc, s) => ({
                    ...acc,
                    [s]: (acc[s] || 0) + 1
                }), {})

            const diffSummA = Object.entries(aSymbols)
                .reduce((acc, [s, aCount]) => {
                    const bCount = bSymbols[s] || 0
                    return acc + Math.abs(aCount - bCount)
                }, 0)

            const diffSummB = Object.entries(bSymbols)
                .reduce((acc, [s, bCount]) => {
                    const aCount = aSymbols[s] || 0
                    return acc + Math.abs(bCount - aCount)
                }, 0)

            const diffSumm = Math.max(diffSummA, diffSummB)

            if (diffSumm > 2) {
                return false
            }

            return diffSumm
        }

        const App = {
            setup() {
                const releaseString = Vue.ref(localStorage.releaseString || '')

                Vue.watch(() => {
                    localStorage.releaseString = releaseString.value
                })

                const playlistsString = Vue.ref(localStorage.playlistsString || '')

                Vue.watch(() => {
                    localStorage.playlistsString = playlistsString.value
                })

                const shouldCompareStrictly = Vue.ref(localStorage.shouldCompareStrictly === 'true')

                Vue.watch(() => {
                    localStorage.shouldCompareStrictly = shouldCompareStrictly.value
                })

                const playlistsCells = Vue.computed(() => getCells(playlistsString.value))
                const releaseCells = Vue.computed(() => getCells(releaseString.value))

                const parsedTable = Vue.ref([])
                const createParsedTable = () => {
                    parsedTable.value = releaseCells.value.reduce((acc, releaseCell, index) => {
                        const obj = {
                            releaseCell: releaseCell.join(', '),
                            playlistsCell: playlistsCells.value[index]?.join(', '),
                            error: releaseCell.length > 1 && releaseCell.length !== playlistsCells.value[index]?.length
                        }

                        if (!obj.releaseCell && !obj.playlistsCell) {
                            return acc
                        }

                        acc.push(obj)
                        return acc
                    }, [])
                }

                const playlistsWithReleases = Vue.ref([])
                const createPlaylistsWithReleases = () => {
                    const playlistsWithReleasesMutable = []

                    releaseCells.value.forEach((releaseCell, releaseIndex) => {
                        const playlistCell = playlistsCells.value[releaseIndex]
                        if (!playlistCell) {
                            return
                        }

                        playlistCell.forEach((playlistName, playlistNameIndex) => {
                            const foundPlaylistObj = playlistsWithReleasesMutable.find(p => {
                                if (shouldCompareStrictly.value) {
                                    return p.name.trim().toLowerCase() === playlistName.trim().toLowerCase()
                                }

                                return compare(p.name, playlistName)
                            })

                            const addingReleaseId = releaseCell.length > 1
                                ? releaseCell[playlistNameIndex]
                                : releaseCell[0]

                            if (addingReleaseId === '') {
                                return
                            }

                            if (!foundPlaylistObj) {
                                playlistsWithReleasesMutable.push({
                                    name: playlistName.trim(),
                                    releases: [addingReleaseId],
                                    altNames: []
                                })
                            } else {
                                if (playlistName.trim().toLowerCase() !== foundPlaylistObj.name.trim().toLowerCase() && !foundPlaylistObj.altNames.find(i => i.trim().toLowerCase() === playlistName.trim().toLowerCase())) {
                                    foundPlaylistObj.altNames.push(playlistName)
                                }

                                foundPlaylistObj.releases = [...foundPlaylistObj.releases, addingReleaseId]
                            }
                        })
                    })

                    playlistsWithReleases.value = playlistsWithReleasesMutable
                }

                const parse = () => {
                    createParsedTable()
                    createPlaylistsWithReleases()
                }

                function getLink(name, releases) {
                    const boomUtilsData = {
                        action: 'editPlaylist',
                        ids: releases
                    }
                    return `https://control.um-agency.com/admin/api/bundle/playlist/list?filter%5Bname%5D%5Btype%5D=&filter%5Bname%5D%5Bvalue%5D=${encodeURIComponent(name)}&filter%5Btested%5D%5Btype%5D=&filter%5Btested%5D%5Bvalue%5D=&filter%5Benabled_ok%5D%5Btype%5D=&filter%5Benabled_ok%5D%5Bvalue%5D=&filter%5Benabled_vk%5D%5Btype%5D=&filter%5Benabled_vk%5D%5Bvalue%5D=&filter%5Bis_compilation_ok%5D%5Btype%5D=&filter%5Bis_compilation_ok%5D%5Bvalue%5D=&filter%5Bis_compilation_vk%5D%5Btype%5D=&filter%5Bis_compilation_vk%5D%5Bvalue%5D=&filter%5BCategory%5D%5Btype%5D=&filter%5BCategory%5D%5Bvalue%5D=&filter%5B_page%5D=1&filter%5B_sort_by%5D=id&filter%5B_sort_order%5D=DESC&filter%5B_per_page%5D=32&boomUtilsData=${encodeURIComponent(JSON.stringify(boomUtilsData))}`
                }

                return {
                    releaseString,
                    playlistsString,
                    releaseCells,
                    playlistsCells,
                    playlistsWithReleases,
                    shouldCompareStrictly,
                    getLink,
                    parsedTable,
                    parse,
                }
            },
        }

        Vue.createApp(App).mount('#constructor')
    </script>
</body>
</html>