<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
</head>
<body>
    <div id="constructor">
        <div style="display: flex; align-items: flex-start;">
            <textarea
                v-model="releaseString"
                placeholder="Колонка ID Релиза"
                style="
                    height: 500px;
                    width: 300px;
                "
            ></textarea>

            <textarea
                v-model="playlistsString"
                placeholder="Колонка плейлисты"
                style="
                    height: 500px;
                    width: 300px;
                "
            ></textarea>
        </div>

        <label>
            <input type="checkbox" v-model="shouldCompareStrictly">
            Строгое сравнение
        </label>

        <br>
        <br>
        <br>

        <div style="display: flex; align-items: flex-start;">
            <table>
                <tr
                    v-for="playlistWithReleases in playlistsWithReleases"
                    :key="playlistWithReleases.name"
                >
                    <td>
                        {{ playlistWithReleases.name }}
                        <span
                            v-for="altName in playlistWithReleases.altNames"
                            :key="altName"
                            style="
                                display: inline-block;
                                white-space: nowrap;
                                border-radius: 3px;
                                padding: 3px;
                                background: #FFD024;
                                font-size: 11px;
                                margin-right: 3px;
                            "
                        >
                            {{altName}}&nbsp;
                        </span>
                    </td>
                    <td>
                        <span
                            v-for="release in playlistWithReleases.releases"
                            :key="release"
                        >
                            {{ release }}&nbsp;
                        </span>
                    </td>
                </tr>
            </table>
<!-- 
            <table>
                <tr
                    v-for="(release, i) in releaseCells"
                    :key="release"
                >
                    <td>{{i+2}}</td>
                    <td>{{ release }}</td>
                    <td>
                        {{ playlistsCells[i] }}
                    </td>
                </tr>
            </table> -->
        </div>
        <!-- <pre>{{playlistsWithReleases}}</pre> -->

        <!-- <pre
            style="
                width: 300px;
                overflow: auto;
            "
        >{{releaseCells}}</pre>

        <pre
            style="
                width: 300px;
                overflow: auto;
            "
        >{{playlistsCells}}</pre> -->

        <!-- <pre
            style="
                width: 300px;
                overflow: auto;
            "
        >{{playlistsWithReleases}}</pre> -->
    </div>

    <style>
        body {
            font-family: sans-serif;
        }

        table {
            border-collapse: collapse;
        }

        td {
            border: 1px solid rgba(0,0,0,.2);
        }
    </style>

    <script>
        function byteCount(s) {
            return encodeURI(s).split(/%..|./).length - 1;
        }

        function getCells(str) {
            if (!str) return []

            let bracketOpened = false
            let group = []
            const breaks = str
                .split('\n')
                .slice(1)

            const isFirstQuoteClosing = (() => {
                const firstQuote = breaks.find(row => row.match('"'))

                return !!firstQuote.trim().match(/"$/)
            })()

            let isQuoteOpened = isFirstQuoteClosing
            const groups = isQuoteOpened ? [[]] : []
            breaks.forEach((row, i) => {
                if (isQuoteOpened) {
                    groups[groups.length-1].push(row.replaceAll(/"/g, ''))
                } else {
                    groups.push([row.replaceAll(/"/g, '')])
                }

                if (row.match(/"$/)) {
                    isQuoteOpened = false
                }

                if (row.match(/^"/)) {
                    isQuoteOpened = true
                }
            })

            return groups
        }

        function compare(a, b) {
            const ac = a.trim().toLowerCase()
            const bc = b.trim().toLowerCase()

            if (ac === bc) return true

            if (Math.abs(ac.length - bc.length) > 4) return false

            const aSymbols = ac.split('')
                .reduce((acc, s) => ({
                    ...acc,
                    [s]: (acc[s] || 0) + 1
                }), {})

            const bSymbols = bc.split('')
                .reduce((acc, s) => ({
                    ...acc,
                    [s]: (acc[s] || 0) + 1
                }), {})

            const diffSummA = Object.entries(aSymbols)
                .reduce((acc, [s, aCount]) => {
                    const bCount = bSymbols[s] || 0
                    return acc + Math.abs(aCount - bCount)
                }, 0)

            const diffSummB = Object.entries(bSymbols)
                .reduce((acc, [s, bCount]) => {
                    const aCount = aSymbols[s] || 0
                    return acc + Math.abs(bCount - aCount)
                }, 0)

            const diffSumm = Math.max(diffSummA, diffSummB)

            if (diffSumm > 2) {
                return false
            }

            return diffSumm
        }

        const App = {
            setup() {
                const releaseString = Vue.ref(localStorage.releaseString || '')

                Vue.watch(() => {
                    localStorage.releaseString = releaseString.value
                })

                const playlistsString = Vue.ref(localStorage.playlistsString || '')

                Vue.watch(() => {
                    localStorage.playlistsString = playlistsString.value
                })

                const shouldCompareStrictly = Vue.ref(localStorage.shouldCompareStrictly === 'true')

                Vue.watch(() => {
                    localStorage.shouldCompareStrictly = shouldCompareStrictly.value
                })

                const playlistsCells = Vue.computed(() => getCells(playlistsString.value))
                const releaseCells = Vue.computed(() => getCells(releaseString.value))


                const playlistsWithReleases = Vue.computed(() => {
                    const playlistsWithReleasesMutable = []

                    releaseCells.value.forEach((release, releaseIndex) => {
                        if (release.length !== 1 || release[0].length === 0) {
                            return
                        }

                        const releasePlaylistNames = playlistsCells.value[releaseIndex]
                        if (!releasePlaylistNames) {
                            return
                        }

                        releasePlaylistNames.forEach(playlistName => {
                            const foundPlaylistObj = playlistsWithReleasesMutable.find(p => {
                                if (shouldCompareStrictly.value) {
                                    return p.name.trim().toLowerCase() === playlistName.trim().toLowerCase()
                                }

                                return compare(p.name, playlistName)
                            })

                            if (!foundPlaylistObj) {
                                playlistsWithReleasesMutable.push({
                                    name: playlistName.trim(),
                                    releases: [...release],
                                    altNames: []
                                })
                            } else {
                                if (playlistName.trim().toLowerCase() !== foundPlaylistObj.name.trim().toLowerCase() && !foundPlaylistObj.altNames.find(i => i.trim().toLowerCase() === playlistName.trim().toLowerCase())) {
                                    foundPlaylistObj.altNames.push(playlistName)
                                }

                                foundPlaylistObj.releases = [...foundPlaylistObj.releases, ...release]
                            }
                        })
                    })

                    return playlistsWithReleasesMutable
                        .sort((a, b) => byteCount(a.name) - byteCount(b.name))
                })

                return {
                    releaseString,
                    playlistsString,
                    releaseCells,
                    playlistsCells,
                    playlistsWithReleases,
                    shouldCompareStrictly
                }
            },
        }

        Vue.createApp(App).mount('#constructor')
    </script>
</body>
</html>